# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Shuaib\Desktop\Java-Mooc_2021\TMCProjects\mooc-java-programming-i\part03-Part03_27.AVClub\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
